.form{
    --fill-color: #FFF3E0;
    --line-color: #FF6F00;

    width: 700px;
    background-color: var(--fill-color);
    opacity: 0.8;
    background-image:  repeating-linear-gradient(45deg, var(--line-color) 25%, transparent 25%, transparent 75%, var(--line-color) 75%, var(--line-color)), repeating-linear-gradient(45deg, var(--line-color) 25%, var(--fill-color) 25%, var(--fill-color) 75%, var(--line-color) 75%, var(--line-color));
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}